*
  -webkit-box-sizing: border-box
     -moz-box-sizing: border-box
          box-sizing: border-box

body
  background-color: $page-background
  color: $page-text
  display: flex
  flex-direction: column
  font-family: "Lucida Console", Monaco, monospace
  font-size: 1em
  margin: 0
  padding: $spacing-m

header
  flex: 0 0 50px

  .wrapper
    padding: $spacing-m

a
  color: $link-color
  text-decoration: underline

  &:hover
    text-decoration: none

main
  display: flex
  flex: 1 0 auto
  flex-direction: row

.column
  display: flex
  flex: 1 1 50%
  flex-direction: column
  padding: $spacing-m

  .toolbar
    flex: 0 0 auto

  .sheet-editor,
  .sheet-viewer
    flex: 1 1 auto

.sheet-editor, .sheet-viewer
  background: $sheet-background
  color: $sheet-text
  width: 100%
