$base-spacing: 20px
$spacing-l: $base-spacing
$spacing-m: $base-spacing / 2
$spacing-s: $base-spacing / 4

$black: #000
$dark-grey: #404040
$lighter-grey: #606060
$light-grey: #747474
$almost-white: #f8f8f8
$white: #ffffff

$header-meta-separator-color: $almost-white
$header-site-name-color: $dark-grey
$link-color: $almost-white
$page-background: $dark-grey
$page-text: $black
$sheet-background: $lighter-grey
$sheet-text: $almost-white
$sheet-outline: $almost-white
$sheet-focus-background: $light-grey
