* {
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }

body {
  background-color: #2F3131;
  color: #F8F8F8;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  margin: 0;
  padding: 20px; }

header {
  flex: 0 0 50px; }

a {
  color: #A3ABB0;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column; }
  main .columns {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row; }

.column {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column; }
  .column + .column {
    margin-left: 20px; }
  .column .toolbar {
    flex: 0 0 auto; }
  .column .sheet-editor,
  .column .sheet-viewer {
    flex: 1 1 auto; }

.sheet-editor, .sheet-viewer {
  background: #F8F8F8;
  color: #2F3131;
  display: none;
  width: 100%; }
  .sheet-editor.active, .sheet-viewer.active {
    display: block; }

.sheet-editor {
  font-family: Inconsolata, Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }

.sheet-viewer {
  padding: 10px; }
  .sheet-viewer h2 {
    font-size: 1.1em; }
  .sheet-viewer table {
    color: inherit; }

header {
  color: #F8F8F8; }
  header .wrapper {
    display: flex;
    padding: 10px 5px; }
  header .site-name {
    display: inline-block;
    flex: 1 0 auto;
    font-family: Inconsolata, Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    margin: 0; }
    header .site-name a,
    header .site-name a:hover {
      color: #FFAE00;
      text-decoration: none; }
  header .meta {
    display: inline-block;
    flex: 0 0 auto;
    list-style: none; }
    header .meta li {
      display: inline-block; }
      header .meta li + * {
        border-left: 1px #F8F8F8 solid;
        margin-left: 20px;
        padding-left: 20px; }

.sheet-editor {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  outline-color: rgba(248, 248, 248, 0.5);
  padding: 10px;
  transition: background-color 100ms ease-out; }
  .sheet-editor:focus {
    background-color: #F8F8F8; }

.mod-readme {
  background: #F8F8F8;
  border: 1px #3C82A9 solid;
  box-shadow: 0 0 5px #3C82A9;
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  max-height: 90vh;
  max-width: 90vw;
  padding: 30px 50px;
  position: absolute;
  right: 0;
  top: 0; }
  .mod-readme:target {
    display: block; }
  .mod-readme .close {
    font-size: 38.4px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    right: 2.5vw;
    text-decoration: none;
    top: 2.5vw; }
    .mod-readme .close:hover {
      text-decoration: none; }
  .mod-readme .contents {
    max-height: 100%;
    overflow: auto; }
  .mod-readme a {
    color: #3C82A9;
    text-decoration: underline; }
    .mod-readme a:hover {
      text-decoration: none; }
  .mod-readme code {
    background: #D0D0D0;
    font-size: 1.2em;
    padding: 0.1em; }
  .mod-readme li {
    line-height: 160%; }

.mod-toolbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px 0; }
  .mod-toolbar button {
    -webkit-appearance: none;
      -webkit-appearance--moz-appearance: none;
    background-color: #3C82A9;
    border: 0;
    color: #F8F8F8;
    font-family: inherit;
    font-size: inherit;
    height: 31px;
    margin: 0 10px 0 0;
    padding: 5px 10px; }

.mod-radio-group {
  list-style: none;
  margin: 0;
  padding: 10px 0; }
  .mod-radio-group input[type='radio'] {
    opacity: 0;
    width: 0; }
    .mod-radio-group input[type='radio'] + label {
      padding-left: 21px;
      position: relative; }
      .mod-radio-group input[type='radio'] + label:before, .mod-radio-group input[type='radio'] + label:after {
        border-radius: 50%;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%; }
      .mod-radio-group input[type='radio'] + label:before {
        background-color: #F8F8F8;
        content: '';
        height: 14px;
        left: 0;
        width: 14px; }
    .mod-radio-group input[type='radio']:focus + label:before {
      border-color: #3C82A9;
      box-shadow: 0 0 3px 3px #3C82A9; }
    .mod-radio-group input[type='radio']:checked + label:after {
      background-color: #3C82A9;
      content: '';
      height: 8px;
      left: 3px;
      width: 8px; }
  .mod-radio-group label {
    cursor: pointer;
    line-height: 31px; }
  .mod-radio-group li {
    display: inline-block; }
    .mod-radio-group li + li {
      margin-left: 20px; }
