* {
  -webkit-box-sizing: border-box;
    -webkit-box-sizing--moz-box-sizing: border-box;
      -webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }

body {
  background-color: #404040;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  margin: 0;
  padding: 10px; }

header {
  flex: 0 0 50px; }
  header .wrapper {
    padding: 10px; }

a {
  color: #f8f8f8;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row; }

.column {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  padding: 10px; }
  .column .toolbar {
    flex: 0 0 auto; }
  .column .sheet-editor,
  .column .sheet-viewer {
    flex: 1 1 auto; }

.sheet-editor, .sheet-viewer {
  background: #606060;
  color: #f8f8f8;
  width: 100%; }

header .site-name {
  display: inline-block;
  margin: 0; }
  header .site-name a,
  header .site-name a:hover {
    color: #000;
    text-decoration: none; }

header .meta {
  display: inline-block;
  list-style: none; }
  header .meta li {
    display: inline-block; }
    header .meta li + * {
      border-left: 1px #f8f8f8 solid;
      margin-left: 20px;
      padding-left: 20px; }

.sheet-editor {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  outline-color: #f8f8f8;
  padding: 10px;
  transition: background-color 100ms ease-out; }
  .sheet-editor:focus {
    background-color: #747474; }

.mod-readme {
  background: #f8f8f8;
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  max-height: 90vh;
  max-width: 90vw;
  padding: 5vw;
  position: absolute;
  right: 0;
  top: 0; }
  .mod-readme:target {
    display: block; }
  .mod-readme .close {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 10px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px; }
    .mod-readme .close:hover {
      text-decoration: none; }
  .mod-readme .contents {
    overflow: auto; }
  .mod-readme a {
    color: #404040;
    text-decoration: underline; }
    .mod-readme a:hover {
      text-decoration: none; }
  .mod-readme code {
    background: #d0d0d0;
    font-size: 1.2em;
    padding: 0.1em; }

.mod-toolbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .mod-toolbar button {
    -webkit-appearance: none;
      -webkit-appearance--moz-appearance: none;
    background-color: #f8f8f8;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    height: 31px;
    margin: 0 10px 10px 0;
    padding: 5px 10px; }
