* {
  box-sizing: border-box; }

body {
  background-color: #404040;
  color: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  margin: 50px 0 0 0;
  padding: 10px; }

header {
  height: 50px;
  margin-top: -50px; }
  header .wrapper {
    padding: 10px; }

a {
  color: #f8f8f8;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.column {
  display: inline-block;
  height: 100%;
  padding: 10px;
  width: 50%; }

.sheet-editor, .sheet-viewer {
  background: #606060;
  color: #f8f8f8;
  height: 100%;
  width: 100%; }

header .site-name {
  display: inline-block;
  margin: 0; }
  header .site-name a,
  header .site-name a:hover {
    color: #000;
    text-decoration: none; }

header .meta {
  display: inline-block;
  list-style: none; }
  header .meta li {
    display: inline-block; }
    header .meta li + * {
      border-left: 1px #f8f8f8 solid;
      margin-left: 20px;
      padding-left: 20px; }

.sheet-editor {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  outline-color: #f8f8f8;
  padding: 10px;
  transition: background-color 100ms ease-out; }
  .sheet-editor:focus {
    background-color: #747474; }

.mod-readme {
  background: #f8f8f8;
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  padding: 5vw;
  position: absolute;
  right: 0;
  top: 0; }
  .mod-readme:target {
    display: block; }
  .mod-readme .close {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 10px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px; }
    .mod-readme .close:hover {
      text-decoration: none; }
  .mod-readme a {
    color: #404040;
    text-decoration: underline; }
    .mod-readme a:hover {
      text-decoration: none; }
  .mod-readme code {
    background: #d0d0d0;
    font-size: 1.2em;
    padding: 0.1em; }
