.sheet-editor, .sheet-viewer {
  background: #F8F8F8;
  color: #2F3131;
  display: none;
  flex: 1 1 auto;
  width: 100%; }
  .sheet-editor.active, .sheet-viewer.active {
    display: block; }

.sheet-editor {
  font-family: Inconsolata, Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  outline-color: rgba(248, 248, 248, 0.5);
  padding: 10px;
  transition: background-color 100ms ease-out; }
  .sheet-editor:focus {
    background-color: #F8F8F8; }

.sheet-viewer {
  padding: 10px; }
  .sheet-viewer h2 {
    font-size: 1.1em; }
  .sheet-viewer table {
    color: inherit; }
