@import 'variables.css';

.ChordSheetHTMLViewer {
  --viewer-background: var(--theme-foreground);
  --viewer-foreground: var(--theme-background);
  --viewer-padding: var(--spacing-m);
  --viewer-title-font-size: 1.1em;

  background-color: var(--viewer-background);
  color: var(--viewer-foreground);
  flex: 1 1 auto;
  padding: var(--viewer-padding);
  white-space: pre;
  width: 100%;
}

.ChordSheetHTMLViewer h2 {
  font-size: var(--viewer-title-font-size);
}

.ChordSheetHTMLViewer table {
  border-spacing: 0;
  color: inherit;
}

.ChordSheetHTMLViewer td {
  padding: 3px 0;
}

.ChordSheetHTMLViewer .empty-line {
  height: 1em;
}
