@import 'variables.css';

.Header {
    --header-foreground: var(--theme-foreground);
    --header-meta-separator-color: var(--theme-foreground);
    --navigation-spacing: var(--spacing-l);
    --site-name-foreground: var(--theme-primary);
    --site-name-font: var(--font-monospace);
    --wrapper-spacing: var(--spacing-m) var(--spacing-s);

    color: var(--header-foreground);
    flex: 0 0 50px;
}

.Header__wrapper {
    display: flex;
    padding: var(--wrapper-spacing);
}

.Header__site-name {
    display: inline-block;
    flex: 1 0 auto;
    font-family: var(--site-name-font);
    margin: 0;
}

.Header__site-name a,
.Header__site-name a:hover
{
    color: var(--site-name-foreground);
    text-decoration: none;
}

.Header__navigation {
    display: inline-block;
    flex: 0 0 auto;
    list-style: none;
}

.Header__navigation li {
    display: inline-block;
}

.Header__navigation li + * {
    border-left: 1px var(--header-meta-separator-color) solid;
    margin-left: var(--navigation-spacing);
    padding-left: var(--navigation-spacing);
}
