.mod-readme
  a
    color: $modal-link-color
    text-decoration: underline

    &:hover
      text-decoration: none

  code
    background: $modal-code-background
    font-size: 1.2em
    padding: 0.1em

  li
    line-height: 160%
