.mod-toolbar
  display: flex
  flex-wrap: wrap
  list-style: none
  margin: 0
  padding: $toolbar-spacing 0 0 0

  button,
  .button
    -webkit-appearance: none
      -moz-appearance: none
    background-color: $button-background
    border: 0
    color: $button-text
    cursor: pointer
    display: inline-block
    font-family: inherit
    font-size: inherit
    margin: 0 $toolbar-spacing $toolbar-spacing 0
    padding: $button-padding
    text-decoration: none

    &:hover
      text-decoration: none

    &.large
      padding: $button-padding-large

