:root {
    --spacing-base: 20px;
    --spacing-l: var(--spacing-base);
    --spacing-m: calc(var(--spacing-base) / 2);
    --spacing-s: calc(var(--spacing-base) / 4);

    --theme-background: #2F3131;
    --theme-foreground: #F8F8F8;
    --theme-primary: #FFAE00;
    --theme-secondary: #3C82A9;
    --theme-grey: #A3ABB0;

    --font-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-monospace: Inconsolata,Monaco,"Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
